In [2]:
# !pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.16.tar.gz (83 kB)
                                              0.0/83.6 kB ? eta -:--:--
     ---------------------------------------  81.9/83.6 kB 2.3 MB/s eta 0:00:01
     ---------------------------------------  81.9/83.6 kB 2.3 MB/s eta 0:00:01
     -------------------------------------- 83.6/83.6 kB 672.9 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in d:\soft\conda\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in d:\soft\conda\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in d:\soft\conda\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in d:\soft\conda\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in d:\soft\conda\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in d:\soft\conda\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in d:\soft\conda\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in d:\soft\conda\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in d:\soft\conda\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in d:\soft\conda\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in d:\soft\conda\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\soft\conda\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\soft\conda\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in d:\soft\conda\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.16-py3-none-any.whl size=110697 sha256=dd9293e39fe70f1b2fb81893d93a3bffc54938fba0336ec60c7dce430ee65b88
  Stored in directory: c:\users\diana\appdata\local\pip\cache\wheels\6a\2b\d0\457dd27de499e9423caf738e743c4a3f82886ee6b19f89d5b7
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.16

In [9]:
import pandas as pd
import zipfile
import kaggle

In [7]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Downloading london-bike-sharing-dataset.zip to D:\Study\London-bike-rides-analytics-project

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:00<00:00, 509kB/s]
100%|██████████| 165k/165k [00:00<00:00, 506kB/s]

In [8]:
# extract the data file from the zip
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [35]:
df = pd.read_csv('london_merged.csv')
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [37]:
# specifying the column names to be renamed and used
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}
df.rename(new_cols_dict, axis=1, inplace=True)
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [38]:
# turn percentage to decimal values
df.humidity_percent = df.humidity_percent / 100

In [39]:
# get the unique values in the season column
df.season.unique()

array([3., 0., 1., 2.])

In [40]:
# creating a season dictionary to map the integers 0-3 to the actual written values
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

df.season = df.season.astype('str')
df.season = df.season.map(season_dict)

In [41]:
# get the unique values in the weather column
df.weather.unique()

array([ 3.,  1.,  4.,  7.,  2., 26., 10.])

In [42]:
# creating a weather dictionary to map the integers to the actual written values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

df.weather = df.weather.astype('str')
df.weather = df.weather.map(weather_dict)

In [43]:
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [44]:
df.to_csv('london-bikes-final.csv')